html,body { width:100%; height:100%; position: relative; overflow: hidden;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,p{margin:0;padding:0;border:0;vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}
body{line-height:1.2;font-size:26px;font-family:"微软雅黑","黑体",Verdana,Arial,Helvetica,sans-serif;margin:0 auto; color: #40aaff; background-color: #171717;}
ol,ul{list-style:none;}
a, u{text-decoration:none;}
a{color: #40aaff;}
a:hover{color: #40aaff;}
img{border:0px;vertical-align:middle;}
em{ font-style: normal;}
input,button,select,textarea{outline:none}

/*取消点击高亮*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*修改input的placeholder颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */
    color:#fef5a6;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#fef5a6;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#fef5a6;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#fef5a6;
}

/*css3动画定义*/
.ts0_1 { -webkit-transition:0.1s all ease; -moz-transition:0.1s all ease; -ms-transition:0.1s all ease; -o-transition:0.1s all ease; transition:0.1s all ease; }
.ts0_5{ -webkit-transition:0.5s all ease; -moz-transition:0.5s all ease; -ms-transition:0.5s all ease; -o-transition:0.5s all ease; transition:0.5s all ease; }
.ts1 { -webkit-transition:1s all ease; -moz-transition:1s all ease; -ms-transition:1s all ease; -o-transition:1s all Linear; transition:1s all ease; }
.ts2 { -webkit-transition:2s all ease; -moz-transition:2s all ease; -ms-transition:2s all ease; -o-transition:2s all Linear; transition:2s all ease; }
.ts3 { -webkit-transition:3s all ease; -moz-transition:3s all ease; -ms-transition:3s all ease; -o-transition:3s all ease; transition:3s all ease; }
.ts4 { -webkit-transition:4s all ease; -moz-transition:4s all ease; -ms-transition:4s all ease; -o-transition:4s all ease; transition:4s all ease; }
.ts10 { -webkit-transition:10s all linear; -moz-transition:10s all linear; -ms-transition:10s all linear; -o-transition:10s all linear; transition:10s all linear; }


/*共同部分*/
#wrap {
    background-size: cover;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url("../img/common/page_bg.jpg") center no-repeat;
    background-size: cover;*/
    display: none;
}
.page.active {
    display: block;
}
.page img {
    position: absolute;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    background: url("../img/common/loading_bg.jpg") center no-repeat;
    background-size: cover;
    display: none;
}
.loading.active {
    display: block;
}
.loading article {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -100px;
}
.loading p {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.loading span {
    display: block;
    width: 57.03%;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 21.87%;
    border-bottom: #40aaff solid 2px;
}
.loading span em {
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #40aaff;
}
.logo, .windows10 {
    position: absolute;
    top: 37px;
}
.logo {
    width: 120px;
    height: 25px;
    left: 40px;
    background: url("../img/common/icon/icon_01.png?__spriter") 0 0 no-repeat;
}
.windows10 {
    width: 144px;
    height: 26px;
    right: 40px;
    background: url("../img/common/icon/icon_02.png?__spriter") 0 0 no-repeat;
}
.musicIcon {
    width: 105px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/common/musicIcon1.png") center no-repeat;
}
.musicIcon.gray {
    background-image: url("../img/common/musicIcon2.png");
}
.musicIcon.status1 {
    top: 0;
}
.musicIcon.status2 {
    top: 60px;
}
.arrow {
    width: 67px;
    height: 34px;
    position: absolute;
    left: 290px;
    bottom: 20px;
    background: url("../img/common/icon/icon_03.png?__spriter") 0 0 no-repeat;
}
img.line1 {
    top: 205px;
    left: 10px;
}
img.line2 {
    top: -5px;
    left: 365px;
}
img.line3 {
    top: 143px;
    left: 390px;
}
img.line4 {
    top: 235px;
    left: 410px;
}
img.line5 {
    top: 350px;
    left: 305px;
}
img.text {
    top: 678px;
    left: 87px;
}


/*第1页*/
.page1 {
    background-image: url("../img/page1/bg.jpg");
}
.page1 img.part1 {
    top: 164px;
    right: 85px;
}
.page1 img.part2 {
    top: 157px;
    left: 85px;
}
.page1 img.part3 {
    top: 140px;
    left: 74px;
}
.page1 img.part4 {
    top: 395px;
    left: 77px;
}
.page1 img.btn {
    top: 596px;
    left: 160px;
}

/*第2页*/
.page2 img.cir {
    top: 60px;
    left: 120px;
}
.page2 img.scan {
    top: 0;
    left: 0;
    margin-top: -206px;
}
.page2 .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151515;
    display: none;
}
.page2 .layer.active {
    display: block;
}
.page2 .layer img {
    opacity: 0;
}
.page2 .layer img.show {
    opacity: 1;
}

/*第3页*/
.page3 img.board1, .page3 img.board2 {
    top: 81px;
    left: 165px;
}
.page3 img.fan {
    top: 350px;
    left: 393px;
}
.scroll{
    width: 18px;
    height: 174px;
    position: absolute;
    top: 135px;
    left: 208px;
    background:url(../img/page4/scroll.png)  no-repeat;
}
.scroll3{height:174px;width:18px;background-position:0 0;}
.scroll4{height:174px;width:18px;background-position:-18px 0;}
.scroll1{height:174px;width:18px;background-position:-36px 0;}
.scroll2{height:174px;width:18px;background-position:-54px 0;}

.page3 .layer {
    width: 100%;
    height: 100%;
    background-color: #161719;
    display: none;
}
.page3 .layer.active {
    display: block;
}
.page3 .layer .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.page3 .layer .bg .gray {
    position: relative;
    display: block;
    width: 100%;
    height: 900px;
    background-color: #c4c4c4;
}
.page3 .layer .bg .gray img {
    top: -600px;
    left: 300px;
}
.page3 .layer .bg .mask, .page3 .layer .bg .masktrpt {
    top: 0;
    left: 0;
}
.page3 .layer .box1 {
    position: absolute;
    top: 120px;
    right: 0;
}
.page3 .layer .box1 img.box {
    position: relative;
}
.page3 .layer .box1 img.gray {
    top: 53px;
    right: 32px;
}
.page3 .layer img.box2 {
    top: 578px;
    left: 0;
}


/*第4页*/
.page4 img.light {
    top: 78px;
    left: 109px;
}
.page4 .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #161719;
    display: none;
}
.page4 .layer.active {
    display: block;
}
.page4 .layer .box1, .page4 .layer .box2, .page4 .layer .box3 {
    position: absolute;
    overflow: hidden;
}
.page4 .layer img.pic {
    opacity: 0;
}
.page4 .layer img.mask {
    position: relative;
}
.page4 .layer .box1 {
    top: 38px;
    left: 0;
}
.page4 .layer .box1 img.gray {
    top: 37px;
    left: 0;
}
.page4 .layer .box1 img.pic {
    top: -90px;
    left: 50px;
}
.page4 .layer .box2 {
    top: 290px;
    right: 0;
}
.page4 .layer .box2 img.gray {
    top: 10px;
    right: 0;
}
.page4 .layer .box2 img.pic {
    top: -110px;
    left: -70px;
}
.page4 .layer .box3 {
    top: 494px;
    right: 0;
}
.page4 .layer .box3 img.gray {
    top: 12px;
    right: 27px;
}
.page4 .layer .box3 .view {
    width: 566px;
    height: 216px;
    position: absolute;
    top: 14px;
    right: 31px;
    overflow: hidden;;
}
.page4 .layer .box3 .view img.pic {
    top: -120px;
    left: 140px;
}
.page4 .layer img.box4 {
    top: 749px;
    left: 0;
}

@-webkit-keyframes lightSport {
    0%, 10%, 20%, 30% {
        opacity: 0;
    }
    5%, 15%, 25%, 35%, 100% {
        opacity: 1;
    }
}
@keyframes lightSport {
    0%, 10%, 20%, 30% {
        opacity: 0;
    }
    5%, 15%, 25%, 35%, 100% {
        opacity: 1;
    }
}
.active>.lightSport {
    -webkit-animation: lightSport 3s steps(1,start) infinite;
    animation: lightSport 3s steps(1,start) infinite;
}


/*第5页*/
.page5 img.square1 {
    top: 75px;
    left: 150px;
}
.page5 img.square2 {
    top: 134px;
    left: 209px;
}
.page5 .square3 {
    width: 104px;
    height: 105px;
    position: absolute;
    top: 196px;
    left: 272px;
    background: url("../img/page3/pic_04.png") 0 0 no-repeat;
}
.page5 .square3 dl {
    position: absolute;
    top: 33px;
    left: 33px;
    width: 42px;
}
.page5 .square3 dl dd {
    display: block;
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 2px;
    background-color: #fff;
}
.page5 .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151515;
    display: none;
}
.page5 .layer.active {
    display: block;
}
.page5 .layer img {
    opacity: 0;
}
.page5 .layer img.show {
    opacity: 1;
}


/*第6页*/
.page6 img.tit {
    top: 105px;
    left: 85px;
}
.page6 img.mobile_left {
    top: 215px;
    left: 43px;
}
.page6 img.mobile_right {
    top: 250px;
    left: 323px;
}
.page6 img.text_left {
    bottom: 184px;
    left: 50px;
    opacity: 0;
}
.page6 img.text_right {
    bottom: 235px;
    right: 42px;
    opacity: 0;
}
.page6 img.btn {
    bottom: 90px;
    left: 99px;
}
.page6 .hotarea_left, .page6 .hotarea_right {
    position: absolute;
    top: 210px;
}
.page6 .hotarea_left {
    width: 305px;
    height: 550px;
    left: 44px;
}
.page6 .hotarea_left2, .page6 .hotarea_right2 {
    opacity: 0;
}
.page6 .hotarea_right {
    width: 210px;
    height: 500px;
    left: 350px;
}
.page6 .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #171717;
    display: none;
}
.page6 .layer.active {
    display: block;
}
.page6 .layer .content {
    width: 581px;
    height: 832px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -416px 0 0 -290px;
    background: url("../img/page6/pic_06.png") 0 0 no-repeat;
    overflow: hidden;
}
.page6 .layer .content span.close {
    display: block;
    width: 165px;
    height: 210px;
    position: absolute;
    top: -31px;
    left: -31px;
    background: url("../img/page6/pic_05.png") 0 0 no-repeat;
}
.page6 .layer .content article {
    width: 100%;
    height: 828px;
    position: absolute;
    top: 2px;
    left: 0;
    overflow: hidden;
}
.page6 .layer .content article em {
    display: block;
}
.page6 .layer .content article img {
    display: block;
    margin: 0 auto;
    position: static;
}
.page6 .layer .content article a {
    display: block;
    width: 493px;
    height: 89px;
    margin: 40px auto 0;
    padding-bottom: 40px;
    background: url("../img/page6/pic_08.png") 0 0 no-repeat;
}


/*第7页*/
.page7 img.tit {
    top: 129px;
    left: 82px;
}
.page7 img.line {
    top: 362px;
    left: 0;
}
.page7 a.btn {
    display: block;
    width: 493px;
    height: 89px;
    position: absolute;
    bottom: 63px;
    left: 73px;
    background: url("../img/page7/pic_02.png") 0 0 no-repeat;
}


/************************************************************************************
smaller than 480 PHONE
*************************************************************************************/
@media screen and (max-width: 480px){

    /*loading*/
    .loading p {
        font-size: 18px;
    }
    .loading article {
        height: 50px;
    }

}



